body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(
        0deg, 
        #3AB68D 0%, 
        #269F82 37%, 
        #198F7A 62%, 
        #01726D 100%
    );
}

header {
    height: 60px; /* Ajusta según el tamaño de tus imágenes o preferencia */
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Cambiado para alinear elementos al final (derecha) */
    align-items: center;
    background-color: rgb(255, 255, 255); /* Transparencia leve para destacar la barra */
}

.icon {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: auto;

}

img{
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
}

.left {
    margin-left: 10px;
}

.right {
    margin-right: 30px;
}


main {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra ligera para profundidad */
    height: calc(100% - 160px); /* Altura menos el header y márgenes */
    overflow: auto; /* Para manejar el contenido que exceda el tamaño */
}