@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    font-family: 'Poppins' !important;
}

body {
    background: linear-gradient(
        0deg, 
        #3ab68d 0%, 
        #269F82 37%, 
        #198F7A 62%, 
        #01726D 100%
    );
}


header {
    height: 60px; 
    padding: 5px;
    position: relative;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#opcion2{
    background-color: #087b71
}

.icon {
    position: absolute;
    width: auto; 
    height: auto;
}

#header-btn{
    background-color: #01726d;
    color: white;
    font-weight: bolder;
}

#header-btn2{
    background-color: #01726d;
    color: white;
    font-weight: bolder;
    border: 0.5px solid white;
}

#header-btn2:hover{
    background-color: #38b48c;
}

#font-logo{
    position: absolute;
    align-self: center;
}

#font-logo-img {
    width: 420px; 
    height: 80px;
}

img {
    width: 50px; 
    height: auto;
}

.right {
    position: absolute;
    right: 40px;
}

.right2 {
    position: absolute;
    right: 140px;
}

.left {
    position: absolute;
    left: 10px;
}


main {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    height: calc(100% - 100px); 
    overflow: auto; /* Para manejar el contenido que exceda el tamaño */
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.btn-custome{
    background-color: #fff;
    color: #01726d;
    border: 1px solid #01726d;

}

.link-custome{
    color: #01726d !important;
}

#small{
    font-size: smaller;
    padding: 5px;
}

.btn-custome:hover{
    background-color: #01726d;
    color: white;
    border: 1px solid #01726d;
}

.btn-custome:not(:disabled):not(.disabled).active{
    background-color: #01726d;
    color: white;
    border: 1px solid #01726d;
}



@media (max-width: 767px) {
    .icon {
        width: 20px;     
    }
    img{
        width: 40px; 
    }
    #font-logo{
        display: none;
    }

}

/*Página de espera del propietario*/
.extra-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.informational-container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px;
    width: 100%;
}

.informational-container #title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #343a40; 
}

.informational-container p {
    font-size: 1.2em;
    color: #6c757d; 
    margin-bottom: 20px;
}

.informational-container img {
    display: block;
    margin: 0 auto;
    height: 40%; 
    width: 40%;
    max-height: 300px; 
    max-width: 100%; 
}

@media (max-width: 767px) {
    .informational-container img {
        height: 100%;
        width: 100%;
    }

}

/*Tipografía para los popups del mapa*/
.leaflet-popup-content {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.leaflet-popup-content b {
    font-weight: bolder; 
}