.search-container {
    padding: 20px;
}

.search-container h1 {
    margin-bottom: 20px;

}

.search-container ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.search-container li {
    margin-bottom: 40px;
}

.search-container button {
    width: 100%;
    /*height: 80px;*/
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #808080; /* Gris claro */
    color: white;
    font-size: 20px;
    cursor: pointer;
}
