{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Gasolineras pendientes de verificación</h1>
        <ul class="list-group .list-group-flush .active">
            {% for distributor in distributors %}
            <li class="list-group-item">
                <p><b>Email:</b> {{ distributor.mailPropietario }}</p>
                <p><b>Documento acreditativo:</b> 
                    <a href="{{ url_for('admin.get_document', id_posee=distributor.IdPosee) }}" target="_blank">Descargar PDF</a>
                </p>
                <input type="hidden" id="distributorId{{ distributor.IdPosee }}" value="{{ distributor.IdPosee }}">
                <input type="hidden" id="distributorMail{{ distributor.IdPosee }}" value="{{ distributor.mailPropietario }}">
                <button class="btn btn-success" onclick="confirmProperty('{{ distributor.IdPosee }}')">Confirmar</button>
                <button class="btn btn-danger" onclick="location.href='/admin/reject_property?id={{ distributor.IdPosee }}'">Rechazar</button>
            </li>
            {% endfor %}
            {% if distributors|length == 0 %}
            <li class="list-group-item">No hay gasolineras pendientes de verificación.</li>
            {% endif %}
        </ul>
    </div>   
    <div class="container">
        <h1 class="my-4">Actualizar datos</h1>
        <button class="btn btn-custome btn-secondary " id="update-button">Actualizar Datos Gasolineras</button>
    </div>
    <div class="container">
        <h1 class="my-4">Eliminar usuario</h1>
        <form action="/admin/delete_user" method="post">
            <div class="form-group">
                <label for="email">Correo del usuario</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese el correo del usuario" required>
            </div>
            <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
        </form>
    </div>
    
{% endblock content %}

{% block scripts %}
<script>
    function confirmProperty(id) {
        let distribuidoraId = prompt('Por favor, introduce el ID de la distribuidora:');
        if (distribuidoraId) {
            let distributorId = document.getElementById(`distributorId${id}`).value;
            let distributorMail = document.getElementById(`distributorMail${id}`).value;
            location.href = `/admin/confirm_property?id=${id}&distribuidora_id=${distribuidoraId}&mailPropietario=${distributorMail}&IdPosee=${distributorId}`;
        }
    }
</script>

<script>
    document.getElementById('update-button').addEventListener('click', function() {
        fetch('/gas/update_gas_station_data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok) {
                alert('Actualización iniciada. La página estará inaccesible durante el proceso.');
            } else {
                alert('Error al iniciar la actualización.');
            }
        });
    });
    </script>
{% endblock scripts %}
