<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GasWise</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <header>
        <a href="profile.html"><img src="./static/img/user.png" alt="Perfil" class="icon right left"></a>
        <a href="logout.html"><img src="./static/img/exit.png" alt="Salir" class="icon right left"></a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
