{% extends "layout.html" %}

{% block title %}
    Listado 
{% endblock title %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="d-flex align-items-center my-4">
            <h1 class="my-4">Listado</h1>
            <div class="dropdown">
                <!--!!!Custominzar los precios según estación de recarga/servicio-->
                <button class="btn btn-custome btn-secondary dropdown-toggle ml-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Ordenar por
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='valoracion') }}">Valoración</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list') }}">Distancia</a></li>
                  {% if tipo == 'G' %}
                    <li class="dropdown-submenu">
                      <a class="dropdown-item dropdown-toggle" href="#">Precio</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='1') }}">Biodiesel</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='2') }}">Bioetanol</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='3') }}">Gas Natural Comprimido</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='4') }}">Gas Natural Licuado</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='5') }}">Gases licuados del petróleo</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='6') }}">Gasoleo A</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='7') }}">Gasoleo B</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='8') }}">Gasoleo Premium</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='9') }}">Gasolina 95 E10</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='10') }}">Gasolina 95 E5</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='11') }}">Gasolina 95 E5 Premium</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='12') }}">Gasolina 98 E10</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='13') }}">Gasolina 98 E5</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('search.get_distributors_list', param='14') }}">Hidrogeno</a></li>
                      </ul>
                    </li>
                  {% endif %}
                </ul>
            </div>
        </div>
        <ul class="list-group .list-group-flush .active">
            {% for distributor in distributors %}
            <li class="list-group-item">
                <h5><b>{{ distributor.Nombre }}</b></h5>
                {% if distributor.Email %}
                <p><b>Email:</b> {{ distributor.Email }}</p>
                {% endif %}
                {% if distributor.Tipo_venta %}
                <p><b>Tipo de venta:</b> {{ distributor.Tipo_venta }}</p>
                {% endif %}
                {% if distributor.Horario %}
                <p><b>Horario:</b> {{ distributor.Horario }}</p>
                {% endif %}
                {% if distributor.Margen %}
                <p><b>Margen:</b> {{ distributor.Margen }}</p>
                {% endif %}
                {% if distributor.Precio %}
                <p><b>Precio:</b> {{ distributor.Precio }}</p>
                {% endif %}
                {% if distributor.val_media %}
                <p><b>Valoración:</b> {{ distributor.val_media }} / 5</p>
                {% endif %}
                {% if mostrar_precio %}
                <p><b>Precio combustible:</b> {{ distributor.Precio_combustible }}</p>
                {% endif %}

                <button class="btn btn-outline-secondary" onclick="moreInfo('{{ distributor.lat }}', '{{ distributor.lon }}')">Más información</button>
            
            </li>
            {% endfor %}
        </ul>
    </div>    
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/map_search.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dropdownSubmenus = document.querySelectorAll('.dropdown-submenu');

            dropdownSubmenus.forEach(function (submenu) {
                submenu.addEventListener('click', function (e) {
                    var el = submenu.querySelector('.dropdown-menu');
                    el.classList.toggle('show');
                    e.stopPropagation();
                });
            });
        });
    </script>
{% endblock scripts %}