{% extends "layout.html" %}

{% block title %}
    Info
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info_distributor.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="info-container">
            <!--Información del distribuidor-->
            <div class="info">
                <div class="d-flex justify-content-between align-items-center my-4">
                    <h3>Información</h3>
                    <i id="heart-icon-{{ distributor.idDistribuidora }}" class="heart-icon fa-regular fa-heart" data-id="{{ distributor.Id_distribuidora }}"></i>
                </div>
                <li class="list-group-item">
                    <h5><b>{{ distributor.Nombre }}</b></h5>
                    {% if distributor.Tipo == 'G' %}
                        {% if distributor.Email %}
                        <p><b>Email:</b> {{ distributor.Email }}</p>
                        {% endif %}
                    {% endif %}
                    {% if distributor.Tipo_venta %}
                    <p><b>Tipo de venta:</b> {{ distributor.Tipo_venta }}</p>
                    {% endif %}
                    {% if distributor.Tipo == 'G' %}
                        {% if distributor.Horario %}
                        <p><b>Horario:</b> {{ distributor.Horario }}</p>
                        {% endif %}
                    {% endif %}
                    {% if distributor.Tipo == 'G' %}
                        {% if distributor.Margen %}
                        <p><b>Margen:</b> {{ distributor.Margen }}</p>
                        {% endif %}
                    {% endif %}
                    {% if distributor.Direccion %}
                    <p><b>Dirección:</b> {{ distributor.Direccion }}</p>
                    {% endif %}
                </li>
            </div>

            <!--Tabla de Precios-->
                <!--Para gasolineras-->
                {% if distributor.Tipo == 'G' %}
                <div class="suministros">
                    <h3 class="my-4">Combustibles</h3>
                    <div class="table-responsive">
                        <table class="table-suministros table">
                            <thead>
                                <tr>
                                    <th>Combustible</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for precio in precios %}
                                <tr>
                                    <td>{{ precio.combustible }}</td>
                                    <td>{{ precio.precio }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                <!--Para estaciones de recarga-->
                {% if distributor.Tipo == 'E' %}
                {% if puntos_recarga %}
                <div class="suministros col-md-7">
                    <h3 class="my-4">Puntos de Recarga</h3>
                    <label><strong>Precio:</strong> {{ distributor.Precio }}</label>
                    <div class="table-responsive">
                        <table class="table-suministros table">
                            <thead>
                                <tr>
                                    <th>Punto</th>
                                    <th>Carga Rápida</th>
                                    <th>Cantidad</th>
                                    <th>Voltaje</th>
                                    <th>Amperios</th>
                                    <th>kW</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for punto_recarga in puntos_recarga %}
                                <tr>
                                    <td>{{ punto_recarga.punto }}</td>
                                    {% if punto_recarga.carga_rapida %}
                                        <td><img src="{{ url_for('static', filename='img/true.png') }}" alt="Sí" id="icon-table-true"></td>
                                    {% else %}
                                        <td><img src="{{ url_for('static', filename='img/close.png') }}" alt="No" id="icon-table-false"></td>
                                    {% endif %}
                                    <td>{{ punto_recarga.cantidad }}</td>
                                    <td>{{ punto_recarga.voltaje }}</td>
                                    <td>{{ punto_recarga.amperios }}</td>
                                    <td>{{ punto_recarga.kW }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>   
                {% endif %}             
                {% endif %}
        </div>
        
        <!--Servicios-->
        {% if distributor.Tipo == 'G' %}
        <div class="container my-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center">
                    <h3 class="mb-0">Servicios</h3>
                    {% if distributor.Servicios_verificados %}
                        <p class="text-muted mt-1 mb-0 d-flex align-items-center">
                            <img src="{{ url_for('static', filename='img/tick.png') }}" class="mr-1" alt="Verificado Icon" style="height: 1em; width: 1em; margin-left: 10px;"> Verificados por el propietario
                        </p>
                    {% endif %}
                </div>
                {% if not distributor.Servicios_verificados %}
                    <a href="{{ url_for('distributor.service_form', distributor_id=distributor.Id_distribuidora, servicios_verificados=distributor.Servicios_verificados) }}" class="btn btn-outline-secondary" role="button">Indicar Servicios</a>
                {% endif %}
            </div>
            
            <div class="row">
                {% for servicio in servicios %}
                    {% if servicio.existe %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="card h-100 hover-card">
                            <div class="card-body d-flex align-items-center">
                                <img src="{{ url_for('static', filename='img/icon{}.png'.format(servicio.icono)) }}" alt="Servicio Icon" class="service-icon">
                                <div class="service-info ms-3">
                                    <h4 class="card-title">{{ servicio.servicio }}</h4>
                                    {% if not servicio.verificado %}
                                    <p class="text-muted">
                                        <img src="{{ url_for('static', filename='img/chart.png') }}" alt="Chart Icon" style="height: 1em; width: 1em;"> El {{ servicio.porcentaje }}% de los usuarios asegura que dispone este servicio.
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div> 
        {% endif %}

        <!--Preguntas y respuestas-->
        <div class="info-container">
            <div class="info">     
                <h3 class="my-4">Preguntas</h3>   
        
                <!-- Formulario para hacer una pregunta -->
                {% if user_type == 'C' %}
                <form id="formPregunta" action="/distributor/question" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" id="pregunta" name="pregunta" rows="3" placeholder="Escribe tu pregunta aquí"></textarea>
                        <input type="hidden" name="id_distribuidora" value="{{ distributor.Id_distribuidora }}">
                    </div>
                    <button type="submit" class="btn btn-outline-secondary" id="btnPreguntar">Preguntar</button>
                </form>
                {% endif %}
                
        
                <!-- Lista de preguntas y respuestas -->
                {% if preguntas %}
                <li class="list-group-item mt-4" id="listaPreguntas">
                    {% for pregunta in preguntas %}
                    <div class="question">
                        <p class="card-text">
                            <strong class="user-name">{{ pregunta.mail_pregunta }}</strong> 
                            <small class="text-muted">{{ pregunta.fecha_pregunta }} {{ pregunta.hora_pregunta }}</small>
                        </p>
                        <p>{{ pregunta.pregunta }}</p>
        
                        <!-- Botón para responder -->
                        <button type="button" class="btn btn-link link-custome" id="small" onclick="toggleRespuestaForm('{{ pregunta.id_pregunta }}')">Responder</button>
        
                        <!-- Formulario para responder (inicialmente oculto) -->
                        <div id="respuestaForm-{{ pregunta.id_pregunta }}" class="mt-3" style="display: none;">
                            <form method="post" action="/distributor/answer">
                                <div class="form-group">
                                    <textarea class="form-control" name="respuesta" rows="2" placeholder="Escribe tu respuesta aquí"></textarea>
                                </div>
                                <input type="hidden" name="id_pregunta" value="{{ pregunta.id_pregunta }}">
                                <input type="hidden" name="id_distribuidora" value="{{ distributor.Id_distribuidora }}">
                                <button type="submit" class="btn btn-outline-secondary btn-custome" id="small" >Enviar</button>
                            </form>
                        </div>
        
                        <!-- Lista de respuestas -->
                        {% for respuesta in respuestas %}
                            {% if respuesta.id_pregunta == pregunta.id_pregunta %}
                            <div class="answer">
                                <div>
                                    <p class="card-text">
                                        <strong class="user-name">{{ respuesta.mail_respuesta }}</strong> 
                                        {% if respuesta.verificada %}
                                        <small class="text-muted">
                                            <img src="{{ url_for('static', filename='img/tick.png') }}" class="mr-0" alt="Verificado Icon" style="height: 0.9em; width: 0.9em;"> Verificado por el propietario
                                        </small>
                                        {% endif %}
                                        <small class="text-muted ml-2">{{ respuesta.fecha_respuesta }} {{ respuesta.hora_respuesta }}</small>
                                    </p>
                                </div>
                                <p>{{ respuesta.respuesta }}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </li>
                {% endif %}
            </div>
        </div>        

        <!-- Valoraciones -->
        <div class="info-container">
            <div class="info">
                <div class="d-flex justify-content-between align-items-center my-4">
                    <h3 class="mb-0">Valoraciones</h3>
                    <div>
                        <select class="form-select" id="sortReviews">
                            <option value="" disabled selected>Ordenar por</option>
                            <option value="rating_desc">Puntuación: de mayor a menor</option>
                            <option value="rating_asc">Puntuación: de menor a mayor</option>
                            <option value="comment_best">Comentarios: positivos a negativos</option>
                            <option value="comment_worst">Comentarios: negativos a positivos</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    {% if valoracion_media %}
                    <div class="col-lg-3 mb-3 mb-md-0 d-flex flex-column">
                        <div class="card p-3 shadow-sm h-100">
                            <div class="d-flex flex-column align-items-center h-100 justify-content-center">
                                {% if valoracion_media %}
                                <div class="w-100 text-center">
                                    <h5 class="mb-4">Valoración media de los clientes</h5>
                                    <h3 id="valoracion_media" data-valoracion="{{ valoracion_media }}">{{ valoracion_media }}<small class="text-muted">/5</small></h3>
                                </div>
                                <div id="average-rating">
                                    <!-- Estrellas para la valoración media, se rellenarán dinámicamente -->
                                    <div class="stars media d-flex justify-content-center w-100">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if user_type == 'C' %}
                    <div class="col-md-9">
                        <div class="card p-3 shadow-sm">
                            <form action="" method="POST" id="ratingForm">
                                {{ form.hidden_tag() }}
                                <div class="mb-3">
                                    <div class="rating-box mb-2" id="average-rating">
                                        <strong class="form-label">Tu valoración</strong>
                                        <div class="stars-input">
                                            <input type="hidden" id="rating" name="rating" value="1"><i class="fa-solid fa-star fa-star-input" data-value="1"></i></input>
                                            <input type="hidden" id="rating" name="rating" value="2"><i class="fa-solid fa-star fa-star-input" data-value="2"></i></input>
                                            <input type="hidden" id="rating" name="rating" value="3"><i class="fa-solid fa-star fa-star-input" data-value="3"></i></input>
                                            <input type="hidden" id="rating" name="rating" value="4"><i class="fa-solid fa-star fa-star-input" data-value="4"></i></input>
                                            <input type="hidden" id="rating" name="rating" value="5"><i class="fa-solid fa-star fa-star-input" data-value="5"></i></input>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <strong for="comment" class="form-label">Comentario</strong>
                                    <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
                                </div>
                                <input type="hidden" name="Id_distribuidora" id="Id_distribuidora" value='{{ distributor.Id_distribuidora }}'>
                                <button type="submit" class="btn btn-outline-secondary" id="btnPreguntar">Enviar valoración</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="mt-4 col-12">
                    <!-- Elemento oculto para almacenar las valoraciones -->
                    <script type="application/json" id="valoraciones-data">
                        {{ valoraciones | tojson }}
                    </script>
                    <!-- Loop through valoraciones to display each review -->
                    {% for valoracion in valoraciones %}
                    <div class="card mb-3 p-3 shadow-sm">
                        <div class="d-flex align-items-center">
                            <strong class="user-name name">{{ valoracion.nombre }}</strong>
                            <div class="average-rating" data-rating="{{ valoracion.puntuacion }}">
                                <!-- Estrellas para la valoración media, se rellenarán dinámicamente -->
                                <div class="stars">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-2">{{ valoracion.texto }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> 
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Manejar clic en el icono de "me gusta" -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const heartIcons = document.querySelectorAll('[id^="heart-icon-"]');
            
            heartIcons.forEach(heartIcon => {
                const distributorId = heartIcon.getAttribute('data-id');
                
                // Verificar si el distribuidor es favorito
                fetch(`/distributor/is_fav/${distributorId}`)
                    .then(response => response.json())
                    .then(isFav => {
                        if (isFav === 1) {
                            heartIcon.classList.add('fa-solid');
                            heartIcon.classList.add('liked');
                            heartIcon.classList.remove('fa-regular');
                        }
                    });

                heartIcon.addEventListener('click', function() {
                    heartIcon.classList.toggle('liked');
                    if (heartIcon.classList.contains('liked')) {
                        heartIcon.classList.remove('fa-regular');
                        heartIcon.classList.add('fa-solid');
                        // Llamar a la ruta /distributors/add_fav
                        fetch(`/distributor/add_fav/${distributorId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ distributor_id: distributorId })
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Added to favorites:', data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    } else {
                        heartIcon.classList.remove('fa-solid');
                        heartIcon.classList.add('fa-regular');
                        // Llamar a la ruta /distributors/delete_fav
                        fetch(`/distributor/delete_fav/${distributorId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ distributor_id: distributorId })
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Removed from favorites:', data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }
                });
            });
        });
    </script>   
    <!--Rellenar estrellas de la valoración media-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var valoracionMediaElement = document.getElementById('valoracion_media');
            console.log(valoracionMediaElement);
            var valoracionMedia = parseFloat(valoracionMediaElement.getAttribute('data-valoracion'));
            console.log(valoracionMedia);
            var stars = document.querySelectorAll('#average-rating .fa-star');
            
            for (var i = 0; i < stars.length; i++) {
                if (i < Math.floor(valoracionMedia)) {
                    stars[i].classList.add('fa-colored');
                } else if (i < Math.ceil(valoracionMedia)) {
                    stars[i].classList.remove('fa-regular');
                    stars[i].classList.add('fa-colored');
                    stars[i].classList.add('fa-star-half-alt');
                }
            }
        });
    </script>
    <!-- Rellenar estrellas de las valoraciones -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Obtén todos los elementos que tienen la clase 'average-rating'
            var ratingElements = document.querySelectorAll('.average-rating');
    
            // Itera sobre cada elemento
            ratingElements.forEach(function(ratingElement) {
                // Obtén la puntuación desde el atributo data-rating
                var rating = parseInt(ratingElement.getAttribute('data-rating'));
                var stars = ratingElement.querySelectorAll('.fa-star');
    
                // Rellena las estrellas según la puntuación
                stars.forEach(function(star, index) {
                    if (index < rating) {
                        star.classList.add('fa-colored');
                    } else {
                        star.classList.add('fa-regular');
                        star.classList.remove('fa-colored');
                    }
                });
            });
        });
    </script>
    <!--Obtener estrellas cuando se hace una valoración-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const stars = document.querySelectorAll('.fa-star-input');
            const ratingInput = document.getElementById('rating');

            stars.forEach(star => {
                star.addEventListener('click', function() {
                    const rating = this.getAttribute('data-value');
                    ratingInput.value = rating;
                    updateStars(rating);
                });
            });

            function updateStars(rating) {
                stars.forEach(star => {
                    if (star.getAttribute('data-value') <= rating) {
                        star.classList.add('selected');
                    } else {
                        star.classList.remove('selected');
                    }
                });
            }
        });
    </script>
    <!--Mostrar y ocultar formulario de respuesta-->           
    <script>
        function toggleRespuestaForm(idPregunta) {
            var form = document.getElementById('respuestaForm-' + idPregunta);
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }
    </script>
    <script>
        document.getElementById('sortReviews').addEventListener('change', function() {
            const sortValue = this.value;
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('sort_by', sortValue);
            // Add a timestamp to force reload
            urlParams.set('_', new Date().getTime());
            window.location.search = urlParams.toString();
        });
    </script>
    
{% endblock scripts %}
