{% extends "layout.html" %}

{% block title %}
    Mapa
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <!--Para los filtros-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/distributors_filters.css') }}">
{% endblock styles %}


{% block content %}
<!--MAPA Y BÚSQUEDA-->
<div>
    <div id="map-container" class="d-flex flex-column">
        <form class="route-form mt-auto" id="routeForm">
            <div class="input-and-button">
                <div class="input-group">
                    <div class="form-group">
                        <label for="origin">Origen:</label>
                        <input type="text" id="origin" class="form-control" placeholder="Introduce origen" required />
                    </div>
                </div>
                <div class="button-group">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton" onclick="fetchAndDisplayNearest(event, undefined)">
                        <img src="{{ url_for('static', filename='img/find.png') }}" alt="Buscar ruta" class="icon-select">
                    </button>
                    <button class="btn btn-outline-secondary" type="button" id="routeButton" onclick="enableDestinationInput()">
                        <img src="{{ url_for('static', filename='img/route.png') }}" alt="Ruta" class="icon-select">
                    </button>
                    <button class="btn btn-outline-secondary" type="button" id="nearestButton" onclick="resetToInitial()" style="display: none;">
                        <img src="{{ url_for('static', filename='img/nearest.png') }}" alt="Nearest" class="icon-select">
                    </button>
                    <button class="btn btn-outline-secondary" type="button" id="selectButton" style="display: none;"> 
                        <img src="{{ url_for('static', filename='img/filters.png') }}" alt="Select" class="icon-select">
                    </button>
                    <button class="btn btn-outline-secondary" type="button" id="listButton" onclick="getDistributorsList()" style="display: none;">
                        <img src="{{ url_for('static', filename='img/list.png') }}" alt="List" class="icon-select">
                    </button>
                </div>
            </div>
        </form>
        
        <!-- Contenedor del mapa -->
        <section id="map"></section>
    </div>
</div>

<!--DESPLEGABLE CON LOS FILTROS-->
<div class="filters">
    <!-- Desplegable 1: Tipo de distribuidora -->
    <div class="mt-3">
        <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDistributor" aria-expanded="false" aria-controls="collapseServices">
            Tipo de distribuidora <i class="fas fa-chevron-down"></i>
        </button>
        <div class="collapse" id="collapseDistributor">
            <div class="card card-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="gasolinera" id="gasolinera" onchange="checkDistributorType('gasolinera')">
                    <label class="form-check-label" for="gasolinera">
                        Gasolinera
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="estacion_recarga" id="estacion_recarga" onchange="checkDistributorType('estacion_recarga')">
                    <label class="form-check-label" for="estacion_recarga">
                        Estación de recarga
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- Desplegable 2: Servicios -->
    <div class="mt-3" id="servicios">
        <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseServices" aria-expanded="false" aria-controls="collapseServices">
            Servicios <i class="fas fa-chevron-down"></i>
        </button>
        <div class="collapse" id="collapseServices">
            <div class="card card-body">
                <!-- Checkbox para cada servicio -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cafeteria">
                    <label class="form-check-label" for="cafeteria">Cafetería</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="hospedaje">
                    <label class="form-check-label" for="hospedaje">Hospedaje</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="lavado_coches">
                    <label class="form-check-label" for="lavado_coches">Lavado de coches</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="lavado_camiones">
                    <label class="form-check-label" for="lavado_camiones">Lavado de camiones</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="parking_camiones">
                    <label class="form-check-label" for="parking_camiones">Parking de camiones</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cambiapaniales">
                    <label class="form-check-label" for="cambiapaniales">Cambiapañales</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="duchas">
                    <label class="form-check-label" for="duchas">Duchas</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="supermercado">
                    <label class="form-check-label" for="supermercado">Supermercado</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="amazon_locker">
                    <label class="form-check-label" for="amazon_locker">Amazon Locker</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="citypaq">
                    <label class="form-check-label" for="citypaq">Correos Citypaq</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="vaciado_aguas_negras">
                    <label class="form-check-label" for="vaciado_aguas_negras">Vaciado aguas negras</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="estacion_accesible">
                    <label class="form-check-label" for="estacion_accesible">Estación accesible</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Desplegable de Tipo de Combustible -->
    <div class="mt-3" id="combustibles">
        <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFuelType" aria-expanded="false" aria-controls="collapseFuelType">
            Tipo de combustible<i class="fas fa-chevron-down"></i>
        </button>
        <div class="collapse" id="collapseFuelType">
            <div class="card card-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="biodiesel">
                    <label class="form-check-label" for="biodiesel">Biodiesel</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="bioetanol">
                    <label class="form-check-label" for="bioetanol">Bioetanol</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gas_comprimido">
                    <label class="form-check-label" for="gas_comprimido">Gas Natural Comprimido</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gas_licuado">
                    <label class="form-check-label" for="gas_licuado">Gas Natural Licuado</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gas_petroleo">
                    <label class="form-check-label" for="gas_petroleo">Gases licuados del petróleo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gasoleoA">
                    <label class="form-check-label" for="gasoleoA">Gasoleo A</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gasoleoB">
                    <label class="form-check-label" for="gasoleoB">Gasoleo B</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gasoleo_premium">
                    <label class="form-check-label" for="gasoleo_premium">Gasoleo Premium</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gasolina95_E10">
                    <label class="form-check-label" for="gasolina95_E10">Gasolina 95 E10</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gasolina95_E5">
                    <label class="form-check-label" for="gasolina95_E5">Gasolina 95 E5</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gasolina95_E5_premium">
                    <label class="form-check-label" for="gasolina95_E5_premium">Gasolina 95 E5 Premium</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gasolina98_E10">
                    <label class="form-check-label" for="gasolina98_E10">Gasolina 98 E10</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gasolina98_E5">
                    <label class="form-check-label" for="gasolina98_E5">Gasolina 98 E5</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="hidrogeno">
                    <label class="form-check-label" for="hidrogeno">Hidrogeno</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Desplegable de Tipo de Conector -->
    <div class="mt-3" id="conectores">
        <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConnectorType" aria-expanded="false" aria-controls="collapseConnectorType">
            Tipo de conector <i class="fas fa-chevron-down"></i>
        </button>
        <div class="collapse" id="collapseConnectorType">
            <div class="card card-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ccs1">
                    <label class="form-check-label" for="ccs1">CCS (Tipo 1)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ccs2">
                    <label class="form-check-label" for="ccs2">CCS (Tipo 2)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="chademo">
                    <label class="form-check-label" for="chademo">CHAdeMO</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="tipo2socket">
                    <label class="form-check-label" for="tipo2socket">Tipo 2 (Socket)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="tipo2thetered">
                    <label class="form-check-label" for="tipo2thetered">Tipo 2 (Thetered Connector)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="3p">
                    <label class="form-check-label" for="3p">CEE 3 pines</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="5p">
                    <label class="form-check-label" for="5p"> CEE 5 pines</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="7/4p">
                    <label class="form-check-label" for="7/4p">CEE 7/4</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="7p">
                    <label class="form-check-label" for="7p">CEE+ 7 pines</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="teslaS/X">
                    <label class="form-check-label" for="teslaS/X">Tesla (Modelo S/X)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="NACS">
                    <label class="form-check-label" for="NACS">NACS (Tesla Supercharger)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="J1772">
                    <label class="form-check-label" for="J1772">Tipo 1 (J1772)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="AS/NZS3112">
                    <label class="form-check-label" for="AS/NZS3112">Tipo 1 (AS/NZS 3112 )</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="60309">
                    <label class="form-check-label" for="60309"> IEC 60309 5 pines </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Europlug">
                    <label class="form-check-label" for="Europlug">Europlug 2 pines</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Commando">
                    <label class="form-check-label" for="Commando ">Commando (2P+E)</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Desplegable de Marca-->
    <div class="mt-3" id="marcas">
        <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBrand" aria-expanded="false" aria-controls="collapseBrand">
            Marca <i class="fas fa-chevron-down"></i>
        </button>
        <div class="collapse" id="collapseBrand">
            <div class="card card-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="repsol">
                    <label class="form-check-label" for="repsol">Repsol</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cepsa">
                    <label class="form-check-label" for="cepsa">Cepsa</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="bp">
                    <label class="form-check-label" for="bp">BP</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="shell">
                    <label class="form-check-label" for="shell">Shell</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="galp">
                    <label class="form-check-label" for="galp">Galp</label>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Botón de Filtrar búsqueda -->
    <div class="mt-3">
        <button type="button" class="btn btn-outline-primary w-100" id="filterSearchButton" onclick="fetchAndDisplayNearest(event, undefined)">Filtrar búsqueda</button>
    </div>
    <!--Botón para cerrar los filtros-->
    <button class="close-button">
        <img id="close-img" src="{{ url_for('static', filename='img/close.png') }}" alt="Close">
    </button>    
</div>

<!--DESPLEGABLE PARA SELECCIONAR UBICACIÓN-->


<!--ANIMACIÓN "CARGANDO"-->
<div id="loadingOverlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:9999;">
    <img src="{{ url_for('static', filename='img/loading.gif') }}" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:200px; height:200px;" alt="Cargando...">
</div>


{% endblock content %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map_search.js') }}"></script>

    <!--Iconos para indicar las distribuidoras y estaciones de servicio en el mapa-->
    <script>
        var greenIconUrl = "{{ url_for('static', filename='img/green_icon.png') }}";
        var orangeIconUrl = "{{ url_for('static', filename='img/orange_icon.png') }}";
    </script>  

    <!--Para abrir y cerrar la pestaña filtros-->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var selectButton = document.getElementById('selectButton');
            var closeButton = document.querySelector('.close-button');
            var filtersDiv = document.querySelector('.filters');
        
            selectButton.addEventListener('click', function() {
                // Muestra el div cuando se hace clic en el botón de filtros
                filtersDiv.classList.add('show');
            });
        
            closeButton.addEventListener('click', function() {
                // Oculta el div cuando se hace clic en el botón de cierre
                filtersDiv.classList.remove('show');
            });
        });
    </script>        

    <!--Para que ninguno de los filtros este seleccionado por acciones anteriores al recargar la página-->
    <script>
        window.onload = noChecked();
    </script>

    <!--Para habilitar y deshabilitar los desplegables de filtros correspondeintes a estaciones de servicio/recarga-->
    <script>
        document.getElementById('gasolinera').addEventListener('change', function() {
            toggleVisibility(this.checked, true);
        });

        document.getElementById('estacion_recarga').addEventListener('change', function() {
            toggleVisibility(this.checked, false);
        });
    </script>

    <!--Para estilar los filtros-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        
{% endblock scripts %}






