{% extends "layout.html" %}

{% block content %}
    <div class="extra-container">
        <div class="informational-container">
            <h1 id="title">Acceso bloqueado </h1>
            <p>Nuestro equipo está revisando si su documento de verificación es válido. Cuando lo comprobemos <strong>le enviaremos un mail</strong>.</p>
            <p>Gracias por su paciencia.</p>
            <img src="{{ url_for('static', filename='img/verification.gif') }}" alt="Espere">
        </div>
    </div>
{% endblock content %}