{% extends "layout.html" %}

{% block title %}
    Registro
{% endblock %}

{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Registro de Usuario</legend>
            <div class="form-group">
                <button type="button" class="btn btn-custome btn-outline-info mt-2" onclick="setUserType('conductor')">Registrar como Conductor</button>
                <button type="button" class="btn btn-custome btn-outline-info mt-2" onclick="setUserType('propietario')">Registrar como Propietario</button>
            </div>
            <div id="conductor_fields" style="display:none;">
                {{ render_conductor_fields(form) }}
            </div>
            <div id="propietario_fields" style="display:none;">
                {{ render_propietario_fields(form) }}
            </div>
        </fieldset>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        ¿Ya tienes una cuenta? <a class="ml-2 link-custome" href="{{ url_for('users.login') }}">Iniciar sesión</a>
    </small>
</div>

<!--Script para mostrar los campos de conductor o propietario en el registro-->
<script>
    function setUserType(userType) {
        var conductorFields = document.getElementById('conductor_fields');
        var propietarioFields = document.getElementById('propietario_fields');
        var allInputsConductor = conductorFields.querySelectorAll('input, select');
        var allInputsPropietario = propietarioFields.querySelectorAll('input, select');
    
        allInputsConductor.forEach(input => {
            input.required = false;
            input.disabled = true;
        });
        allInputsPropietario.forEach(input => {
            input.required = false;
            input.disabled = true;
        });
    
        if (userType === 'conductor') {
            conductorFields.style.display = 'block';
            propietarioFields.style.display = 'none';
            allInputsConductor.forEach(input => {
                if (input.name !== 'apellidos') {
                    input.required = true;
                }
                input.disabled = false;
            });
        } else if (userType === 'propietario') {
            conductorFields.style.display = 'none';
            propietarioFields.style.display = 'block';
            allInputsPropietario.forEach(input => {
                if (input.name !== 'apellidos') {
                    input.required = true;
                }
                input.disabled = false;
            });
        }
    }
</script>
    

{% endblock %}

{% macro render_conductor_fields(form) %}
<div class="form-group">
    {{ form.nombre.label }}
    {% if form.nombre.errors %}
        {{ form.nombre(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.nombre.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.nombre(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.apellidos.label }}
    {% if form.apellidos.errors %}
        {{ form.apellidos(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.apellidos.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.apellidos(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.tipoVehiculo.label }}
    {% if form.tipoVehiculo.errors %}
        {{ form.tipoVehiculo(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.tipoVehiculo.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.tipoVehiculo(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.mail.label }}
    {% if form.mail.errors %}
        {{ form.mail(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.mail.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.mail(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.password.label }}
    {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.password(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.confirm_password.label }}
    {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.confirm_password(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div>
    <input type="hidden" id="tipoUsuario" name="tipoUsuario" value="C">
</div>
<div class="form-group">
    {{ form.submit(class="btn btn-custome btn-outline-info") }}
</div>
{% endmacro %}

{% macro render_propietario_fields(form) %}
<div class="form-group">
    {{ form.nombre.label }}
    {% if form.nombre.errors %}
        {{ form.nombre(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.nombre.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.nombre(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.apellidos.label }}
    {% if form.apellidos.errors %}
        {{ form.apellidos(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.apellidos.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.apellidos(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.mail.label }}
    {% if form.mail.errors %}
        {{ form.mail(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.mail.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.mail(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.password.label }}
    {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.password(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.confirm_password.label }}
    {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.confirm_password(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.doc.label }}
    {% if form.doc.errors %}
        {{ form.doc(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.doc.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.doc(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div>
    <input type="hidden" id="tipoUsuario" name="tipoUsuario" value="P">
</div>
<div class="form-group">
    {{ form.submit(class="btn btn-custome btn-outline-info") }}
</div>
{% endmacro %}


